
.body{
width:100%;
max-width: 1200px;
}
.clearfix{
  clear: both;
}
.first-image{
  position: relative;
  height: 500px;
}
.first-image-content{
  position: absolute;
  bottom: 10px;
  left: 40px;
}
.first-image-title a{
color:white;
font-family: 
font-size:32px;
}

.author-info li{
  padding-right:15px;
  padding-top:0;
  text-transform: uppercase; 
  display: inline-block;
}
.second-row{
  display: flex;
  width: 100%;
  
  
}
.second-row .column{
  margin-left: 5px;
  margin-top: 10px; 
  float:left;
  padding:0 5px; 
  
  width: 23%;
  
}

.second-row .second-row-full{
  padding: 10px;
  margin-top:-5px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}
.second-row .column img{
  
  width:100%;
}

.author-profile{
  border-radius: 50%; 
  height: 50px;
}
.image-1{
  width:280px;
}
.second-row-image{
  width:100%;
  
}
.first-image .author-name:after{
  content: '/';
  padding-left: 9px;
}

.author-name, .social-date{
  display: inline;
  font-size: 12px;
  font-family: 'PT Serif', serif;
  color:white;
  left:100px;
  letter-spacing: .1em;
  font-weight: 200;

}

/* Third Row start */
.third-row{
  display: inline-block;
  width:100%;
  margin-top: 30px;
}
.third-row .column{
  float: left;
}
.post-author-info li:last-child{
  width:calc(100% - 120px);
  text-align: right;

}
.third-row .infinite-scroll{
  float:left;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
  width: 60%;
}
.third-row .sidebar{
  float:left;
  
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
  width:25%;
}



.text-element{
  text-transform: uppercase;
}


/* Side bar Column */
.sidebar{
  padding: 10px;
  padding-bottom: 20px; 
}
.sidebar .column{
  padding:0 10px;
}
.sidebar img{
  width:100%;
  margin-top: 20px;
  
}
.sidebar-full-post{
  padding-bottom: 20px;
  display: inline-block;
  width:100%;  
}

.sidebar-content{
  padding: 10px;
}

.sidebar a{
  line-height: normal;
  font-family: 'PT Serif', serif;
  font-size: 17px;
}
.sidebar-text{
  width:75%;
  float:left;
}

.sidebar-image{
  width:25%;
  float:left;
}
/* infinite Scroll bar */
.infinite-scroll>div{
  
}
.post-author-info ul{
  display: flex
}
.post-author-info .author-name, .social-date{
  color: black;
}
.post-author-info .author-name .li{
  width:200px;
}

.infinite-social-links > div{
  float:right;
  padding-left: 10px; 
  display: inline
}

.infinite-post-body{
  padding:25px;
}

.infinite-post-image{
  width:100%;
}

.infinite-scroll{
  margin:0 10px;
  font-family: 'PT Serif','serif';

}

.second-row-2 {
  font-size:12px;

  font-family: 'Roboto' 'sans-serif'; 
}

.second-row-content{
  font-family: 'PT Serif','serif';
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
}
.second-row-2 .social-date{
  float:right;
  text-transform: capitalize;
}
.row2-post-tag{
  text-transform: uppercase;
  color:orange;
  display: inline;
}
.infinite-post-upper{
  padding: 40px 40px 10px;
}
.posts-tag{
  text-transform: uppercase;
  font-size:15px;
  font-weight: bold;
  font-family: 'Arial'
}

.infinite-post-body{
  font-size: 18px;
}
.infinite-post-body-1{
  font-family: 'Roboto';
  font-weight: bold;
}
.posts-subheadlines{
  font-weight:300;
  font-size:22px;
  font-style:italic;
  color: grey;
}
.posts-headlines h1{
  font-size: 32px;
}

.keep-reading a{
  color:white;
  font-size: 14px;
  padding: 10px 20px;
  background-color: black;
  border-radius: 5px;
}
.keep-reading{
  display: block;
  text-align: center;
 
  border-radius: 5px;
  width:100%;
}
/* Infinite Social Links */
.infinite-social-links ul {
  overflow: auto;
}

.infinite-social-links ul li {
  list-style-type: none;
  float: left;
}

.infinite-social-links ul li a i {
  background: #205D7A;
  color: #fff;
  width: 35px;
  height: 30px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
}

.infinite-social-links .fa-facebook-f {
  background:#3b5998
} 
.infinite-social-links .fa-linkedin {
  background:#007bb6
}
.infinite-social-links .fa-twitter {
  background:#00aced
}
.infinite-social-links .fa-pinterest-p {
  background:#dd4b39
}

.infinite-social-links .fa-tumblr {
  background:#205D7A

}
.infinite-social-links .fa-envelope {
  background:grey

} 

.infinite-social-links .fa-reddit-alien {
  background:tomato;
}
.tag-social-links{
  line-height: 2;
}
.main-posts{
  width: 80%;
  margin: 25px auto 45px;
}
.infinte-post-tag{
  width:55%;
  display: inline-block;
  float: left;
}
