body{
  margin: 0;
  font-size:1.6em;
  font-family: 'Open Sans','sans-serif';
}
/* Changes the color of entire page link */
a{
  color:black;
  text-decoration: none;
}
/* mytop is topbar class */
.mytop{
  position: relative;
  height: 60px;
  box-shadow: 0 0 5px 0;
  display: flex;
}

/* Used for three dots */
.menu-icon{
  margin: 20px 50px 20px;
}


/*Used for the logo */
.inside{ 
  margin: 5px 50px 0px
 }
/*.logo{
  margin: 20px 50px 20px;
}*/
.logo img:hover{
  color:blue;
  border: 1px solid blue;
}
/* Used for the menu list */
.menu{
  margin: -18px 80px;
}

.menu-items{
  font: 400 14px/45px 'Roboto',sans-serif;
  letter-spacing: .01em;
}

ul{
  list-style-type: none;
  padding:0;
}
.menu li{
  padding: 0 20px;
  padding-top:0;
  text-transform: uppercase; 
  display: inline-block;
}
a:hover{
  color:blue;
}
/*Used for the Social Links */
.social-links{
  position: absolute;
  top:10px;
  right: 80px;  
}
.social-links>div{
  line-height: 1.7px;
  display: inline;
}
.social-links div > img{
  width: 20px;
  float: right;
  padding: 10px
}
/* Used for the search Tag */
.search>img{
  position: absolute;
  top:20px;
  width: 20px;
  right:60px;
}


