body{
  margin: 0;
  font-size:1.6em;
  font-family: 'Open Sans','sans-serif';
  @media screen and (max-width: 1)
}
/* Changes the color of entire page link */
a{
  color:black;
  text-decoration: none;
}
/* mytop is topbar class */
.topbar{
  padding: 10px 20px;
  background-color: white;
  height: 60px;
  box-shadow: 0 0 5px 0;
}

/* Used for three dots */
.menu-icon{
  padding-top:10px;
  margin-left: 10px;
  float:left;
  width:100px;
}


/*Used for the logo */
.inside{ 
  
 }
.logo{
 float:left;
 width: 300px;
}
.logo img:hover{
  color:blue;
  border: 1px solid blue;
}
/* Used for the menu list */
.menu{

  margin-top: 0px;
  float:left;
  padding-top: 5px;
}
.menu ul {
  margin-top: 0;
}

.menu-items{
  font: 400 14px/45px 'Roboto',sans-serif;
  letter-spacing: .01em;
}

ul{
  list-style-type: none;
  padding:0;
}
.author-info ul{
  display: flex;
  padding-right: 20px
}
.menu li{
  padding: 0 20px;
  padding-top:0;
  text-transform: uppercase; 
  display: inline-block;
}
a:hover{
  color:blue;
}
/*Used for the Social Links */
.social-links{
  padding-top: 10px;
  width: 200px;
  float:right;
  font-size:20px;  
}
.social {
  padding-left: 10px;
}
.social-links>div{
  display: inline;
}
.infinite-post-upper{
  padding: 20px
}



